@model Fishbay.Web.Models.DataModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.png">
    <title>Фишбей @ViewBag.Title</title>
    @Styles.Render("~/css/default")
    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index", "Shop")">
            &nbsp;
            <img src="~/logo.png" alt="" width="32">&nbsp;
            Фишбей
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("NewsList", "News")">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Partners")">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("NewsList", "News")">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Logs")">Логи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("OrderList", "Shop")">Заказы</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Службы</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="@Url.Action("Index", "Orders")">Заказы</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Pickers")">Сборки</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Packers")">Упаковки</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Couriers")">Курьеры</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Register", "Account")">Регистрация</a>
                </li>
            </ul>
            @{
                using (Html.BeginForm("Search", "Shop", null, FormMethod.Post, new { @class = "form-inline my-2 my-md-0" }))
                {
                    @Html.TextBoxFor(m => m.Query, new { id = "inputQuery", type = "text", @class = "form-control", placeholder = "Я ищу..." })
                }
            }
        </div>
    </nav>


<div style="height: 40px; width: 100%;"></div>
   

    <div class="container">
        @RenderBody()

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="~/logo.png" alt="" width="24" height="24">
                    <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
