@using Fishbay.Core
@model Fishbay.Web.Models.DataModel

<div class="row no-gutters">
    <div class="col col-lg-10">
        <div class="row">
            <div class="col col-lg-6">
                <img src="@Url.Content(string.Format("~/Pictures/{0}", Model.FirstNewsItem.ImageUrl))" width="400" />
                <div class="main-news-title">
                    @Html.ActionLink(Model.FirstNewsItem.Title, "NewsItem", "News", new { id = Model.FirstNewsItem.Id }, null)
                </div>
                <div class="main-news-sub-title">
                    <p>@Model.FirstNewsItem.SubTitle</p>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="@Url.Content(string.Format("~/Pictures/{0}", Model.SecondNewsItem.ImageUrl))" width="200" />
                        <div class="news-sub-title">
                            @Html.ActionLink(Model.SecondNewsItem.Title, "NewsItem", "News", new { id = Model.SecondNewsItem.Id }, null)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img src="@Url.Content(string.Format("~/Pictures/{0}", Model.ThirdNewsItem.ImageUrl))" width="200" />
                        <div class="news-sub-title">
                            @Html.ActionLink(Model.ThirdNewsItem.Title, "NewsItem", "News", new { id = Model.ThirdNewsItem.Id }, null)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="@Url.Content(string.Format("~/Pictures/{0}", Model.FourthNewsItem.ImageUrl))" width="200" />
                        <div class="news-sub-title">
                            @Html.ActionLink(Model.FourthNewsItem.Title, "NewsItem", "News", new { id = Model.FourthNewsItem.Id }, null)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img src="@Url.Content(string.Format("~/Pictures/{0}", Model.FifthNewsItem.ImageUrl))" width="200" />
                        <div class="news-sub-title">
                            @Html.ActionLink(Model.FifthNewsItem.Title, "NewsItem", "News", new { id = Model.FifthNewsItem.Id }, null)
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div style="width: 100%; margin: 10px 0; background-color: #EEEEEE; text-align: center; padding: 10px;">
            БОЛЬШЕ ГЛАВНЫХ НОВОСТЕЙ
        </div>
       
         <div class="row">
            <div class="col col-lg-9">
                <ul class="list-unstyled">
                    @{
                        foreach (NewsItem item in Model.NewsItems)
                        {
                            <li>@Html.ActionLink(item.Title, "NewsItem", "News", new { id = item.Id }, null)</li>
                        }
                    }
                </ul>
            </div>
            <div class="col col-lg-3">
                <div class="row no-gutters">
                    <div class="col-sm-6">
                        <img src="@Url.Content(string.Format("~/Pictures/{0}", Model.SecondNewsItem.ImageUrl))" width="200" />
                        <div class="news-sub-title">
                            @Html.ActionLink(Model.SecondNewsItem.Title, "NewsItem", "News", new { id = Model.SecondNewsItem.Id }, null)
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-sm-6">
                        <img src="@Url.Content(string.Format("~/Pictures/{0}", Model.FourthNewsItem.ImageUrl))" width="200" />
                        <div class="news-sub-title">
                            @Html.ActionLink(Model.FourthNewsItem.Title, "NewsItem", "News", new { id = Model.FourthNewsItem.Id }, null)
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col col-lg-2">
        <img src="~/Pictures/advertising.jpg" width="300" />
    </div>
</div>




