@using Fishbay.Core
@model Fishbay.Web.Models.DataModel



<h1>@Model.SelectedPartner.Title</h1>

<p>@Html.Raw(Model.SelectedPartner.About)</p>

<p>@Html.Raw(Model.SelectedPartner.Info)</p>

<p>@Html.Raw(Model.SelectedPartner.Contact)</p>

<p>@Html.Raw(Model.SelectedPartner.Address)</p>
<p>@Html.Raw(Model.SelectedPartner.UrlLink)</p>